.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 0 var(--app-block-padding);
}

.logo {
    width: 40px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto";
    color: #B7ACC9;
}

.menu ul li a:active {
    color: #673BB7;
}

.menu ul li a:hover {
    color: #673BB7;
}

.button {
    display: flex;
    gap: 20px;
}

.buttonsignup a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.buttonsignup a:hover {
    color: #673BB7;
}
.button .buttonsignup, .button .login {
    width: 124px;
    height: 50px;
}

.login a {
    text-decoration: none;
    font-size: 16px;
    color: #673BB7;
}

.login a:hover {
    color: white;
}

.menu .active {
    color: #673BB7;
}

.signedin {
    display: flex;
    justify-content: center;
    gap: 0;
}

.usericon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px) {
    .menu-icon, .button {
        display: block;
        fill: #673BB7;
    }

    .button {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 280px;
        padding-bottom: 30px;
    }

    .menu, .button {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0px;
        padding-left: 20px;
        top: 80px;
        background-color: white;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .menu ul {
        display: none;
        padding: 0;
    }

    .menu ul.mobile {
        display: block;
    }
    
    .menu ul li {
    padding: 10px 0;
}

.menu li.hidden-mobile, .button {
    display: none;
}
.button .buttonsignup, .button .login {
    width: 350px;
    height: 50px;
}
}