.hero {
    height: 800px;
    background-image: url("../../assets/Image/Rectangle\ 4328.png");
    background-size: 1280px;
    padding: 2 var(--app-block-padding);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    background-color: white;
}

.hero .title, .text {
    color: white;
    width: 435px;
    padding-top: 8rem;
    font-size: 75px;
    font-weight: bold;
    padding-left: 5rem;
}

.hero .text {
    font-size: 20px;
    padding-top: 0;
    font-weight: 500;
}

.hero .title span {
    color: #30009C;
}

.hero .button {
    width: 200px;
    height: 56px;
    font-weight: 500;
    margin-left: 5rem;
}

.hero .button:hover {
    background-color: white;
}

@media (max-width:500px) {
    .hero {
        height: 500px;
        width: 400px;
        background-position: center;
    }

    .hero .title {
        font-size: 40px;
        width: 200px;
        padding-top: 60px;
        padding-left: 2rem;
        margin-bottom: -30px;
    }

    .hero .text {
        font-size: 16px;
        width: 300px;
        padding: var(--app-block-padding);
    }

    .hero .button {
        margin-left: 2rem;
    }
}