.wrapper {
    padding: 0 var(--app-block-padding);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.wrapper .title {
    font-size: 40px;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding-bottom: 64px;
}

.story {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 5px #0000001c;
    padding-right: 40px;
    padding-left: 40px;
    gap: 60px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.text .link {
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.description, .link {
    width: 400px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.image {
    width: 500px;
    height: 800px;
    padding-right: 20px;
}

.button {
    width: 240px;
    height: 60px;
}

@media (max-width:500px) {
    .story {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .image {
        width: 300px;
        height: 400px;
        padding-right: 0;
        padding-top: 40px;
    }
    .wrapper .title {
        font-size: 24px;
        text-align: center;
        font-family: "Plus Jakarta Sans", sans-serif;
        padding-bottom: 30px;
    }
    .description, .link {
        width: 100%;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
    .text .link {
        color: black;
        font-weight: 600;
        font-size: 20px;
        font-size: 16px;
    }
}