.collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--app-block-padding);
    padding-top: 30px;
}

.collections h3, .heading {
    font-size: 40px;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding-bottom: 20px;
    color: black;
}

.products {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 20px;
}

.products .image {
    width: 300px;
    height: 428px;
}

.collections .heading {
    font-size: 24px;
    text-transform: capitalize;
    padding-bottom: 0;
    margin-top: -30px;
  }

.collections .description {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: -30px;
  }

.button {
    margin-bottom: 40px;
}

@media (max-width:500px) {
    .collections h3 {
        font-size: 30px ;
        text-align: center;
    }
    .products {
        display: flex;
        flex-direction: column;
    }
    .collections .heading {
        font-size: 20px;
    }
    .collections .description {
        font-size: 16px;
        margin-top: -20px;
    }
}