.wrapper {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .wrapper .title {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 48px;
      text-transform: uppercase;
  }
  
  .wrapper .benefits {
      display: flex;
      padding: 0 var(--app-block-padding);
      gap: 50px;
      padding-top: 20px;
  }
  
  .benefits .Image {
    width: 60px;
  }
  
  .benefits .heading {
    font-family: "Plus Jakarta Sans";
    font-size: 28px;
    text-transform: capitalize;
  }
  
  .benefits .description {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }

  @media (max-width:500px) {
    .wrapper .title {
      font-size: 30px;
    }

    .benefits .Image {
      width: 40px;
    }

    .benefits {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .benefits .heading {
      font-size: 20px;
    }

    .benefits .description {
      font-size: 16px;
    }
  }